/*.recharts-surface {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.recharts-wrapper {
  margin: 0 auto;
  margin-bottom: 10px;
  // padding-right: 100px;
}

/*
.responsiveContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
